* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #FAFAFA;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.hambar {
	display: none;
}
.header-bar {
	width: 1024px;
	margin: 0 auto;
}
.header-img {
	height: 70px;
	float: left;
}
.nav-list {
	float: right;
}
.nav-list-item {
	float: left;
	width: 120px;
	line-height: 70px;
	color: #FAFAFA;
	padding: 0 30px;
	list-style: none;
	font-size: 16px;
}
.main-visual {
	width: 100%;
	height: 650px;
	text-align: center;
	color: #FAFAFA;
	background-image: url("img/aaa.png");
	background-size: cover;
	background-position: center;
}
.maintext {
	padding-top: 200px;
	font-family: 'Raleway', sans-serif;
	font-size: 64px;
}
.subtext {
	padding-top: 10px;
	font-size: 20px;
}
#portfolio {
	background-color: #ECEFF1;
	margin: 0 auto;
}
.portfolio-text {
	padding-top: 90px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
}
.portfolio-text::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #EC715F;
}
.portfolio-text2 {
	padding-top: 30px;
	text-align: center;
	font-size: 16px;
	margin-bottom: 30px;
}
#folios {
	width: 920px;
	margin: 0 auto;
	padding-bottom: 90px;
}
.folio1 {
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 10px 0 0;
	background-size: cover;
	background-position: center;
	background-image: url(img/sketch.jpg);
}
.folio2 {
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 10px 0 0;
	background-size: cover;
	background-position: center;
	background-image: url(img/websuku.png);
}
.folio3 {
	float: left;
	width: 300px;
	height: 250px;
	margin: 0 0 0 0;
	background-size: cover;
	background-position: center;
	background-image: url(img/write.jpg);
}
.folio4 {
	float: left;
	width: 300px;
	height: 250px;
	margin: 10px 10px 0 0;
	background-size: cover;
	background-position: center;
	background-image: url(img/webcamp.png);
}
.folio5 {
	float: left;
	width: 300px;
	height: 250px;
	margin: 10px 10px 0 0;
	background-size: cover;
	background-position: center;
	background-image: url(img/talk.jpg);
}
.folio6 {
	float: left;
	width: 300px;
	height: 250px;
	margin: 10px 0px 0 0;
	background-size: cover;
	background-position: center;
	background-image: url(img/webcamp-mother.png);
}
#feature {
	width: 980px;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
}
.f-title {
	font-size: 32px;
	color: #000000;
	text-align: center;
	margin-top: 90px;
	margin-bottom: 30px;
}
.f-title::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #EC715F;
}
.f-text {
	font-size: 16px;
	color: #000000;
	text-align: center;
	margin-bottom: 30px;
	font-family: 'Raleway', sans-serif;
}
.webicon {
	font-size: 60px;
	text-align: center;
}
.strength {
	width: 320px;
	float: left;
	margin-right: 10px;
}
.strength:nth-child(3n) {
	margin-right: 0;
}
.strength-title {
	font-size: 20px;
	color: #000000;
	margin: 10px auto;
	text-align: center;
}
.strength-main {
	font-size: 16px;
	color: #000000;
}
#f-main {
	margin-bottom: 90px;
	font-family: 'Raleway', sans-serif;
}
#profile {
	background-color: #ECEFF1;
}
.pro-title {
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
	text-align: center;
}
.pro-title::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #EC715F;
}
.pro-main {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 16px;
	color: #000000;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
#width {
	width: 1024px;
	margin: 0 auto;
	padding-bottom: 90px;
	font-family: 'Raleway', sans-serif;
}
.photo-box {
	width: 512px;
	float: left;
	text-align: center;
}
.pro-photo {
	border-radius: 50%;
	height: 250px;
	width: 250px;
}
.pro-text {
	width: 512px;
	float: left;
}
.mytitle {
	font-size: 20px;
	margin-bottom: 5px;
}
.pro-main1 {
	font-size: 16px;
	color: #000000;
	margin-bottom: 20px;
}
.pro-main2 {
	font-size: 16px;
	color: #000000;
}
#contact {
	width: 800px;
	margin: 0 auto;
}
.co-title {
	font-size: 32px;
	color: #000000;
	margin-top: 90px;
	text-align: center;
}
.co-title::after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #EC715F;
}
.co-main {
	font-size: 16px;
	color: #000000;
	text-align: center;
	margin: 30px auto;
	font-family: 'Raleway', sans-serif;
}
#co-under {
	width: 800PX;
	margin-bottom: 90px;
	font-family: 'Raleway', sans-serif;
}
.co-mts {
	width: 50%;
	float: left;
	margin: 0 auto;
}
.co-mt {
	font-size: 20px;
	text-align: left;
	margin: 0 auto 5px auto;
}
.mail {
	margin-bottom: 20px;
	text-decoration: underline;
}
.tell {
	text-decoration: underline;
}
.sns {
	float: left;
	width: 400px;
	text-align: left;
}

.snstext {
	font-size: 20px;
	margin-bottom: 5px;
}
#co-icon {
	list-style: none;
}
#co-icon li {
	float: left;
}
#icon1 {
	font-size: 50px;
	margin-right: 20px;
}
#icon2 {
	font-size: 50px;
	margin-right: 0px;
}
.co-left {
	width: 120px;
	margin: 0 auto;
}
.co-right {
	width: 160px;
	margin: 0 auto;
}
footer {
	width: 100%;
	height: 60px;
	background-color: #EC715F;
	line-height: 60px;
	font-size: 16px;
	color: #FAFAFA;
	text-align: center;
}


@media(max-width: 768px) {

	header {
		height: 50px;
	}

    .hambox {
	float: right;
    width: 40px;
    height: 40px;
    border: 1px solid #FAFAFA;
    margin: 5px 5% 5px 0;
}
    .hambar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 8px auto;
    background-color: #FAFAFA;
    }

	.nav-list {
		display: none;
	}

	.header-img {
		height: 50px;
	}

	.header-bar {
		width: 90%;
	}

	.main-visual {
		float: none;
		background-image: url("img/code.png");
		height: 650px;
	}

	.maintext {
		font-size: 40px;
		width: 90%;
		margin: 0 auto;
	}

	.subtext {
		font-size: 18px;
		width: 90%;
		margin: 0 auto;
	}

	#folios {
		width: 90%;
	}

	.foliosize {
		width: 90%;
		margin: 0 auto;
	}

.folio1 {
	float: none;
	display: none;
}
.folio2 {
	float: none;
	width: 300px;
	height: 250px;
	margin: 0 auto 10px auto;
	background-size: cover;
	background-position: center;
	background-image: url(img/websuku.png);
}
.folio3 {
	float: none;
	display: none;
}
.folio4 {
	float: none;
	width: 300px;
	height: 250px;
	margin: 0 auto 10px auto;
	background-size: cover;
	background-position: center;
	background-image: url(img/webcamp.png);
}
.folio5 {
	float: none;
	display: none;
}
.folio6 {
	float: none;
	width: 300px;
	height: 250px;
	margin: 0 auto 10px auto;
	background-size: cover;
	background-position: center;
	background-image: url(img/webcamp-mother.png);
}

.portfolio-text {
	width: 90%;
	margin: 0 auto;
}

.portfolio-text2 {
	width: 90%;
	margin: 0 auto 30px auto;
}

#feature {
	width: 90%;
	margin: 0 auto;
}

.f-text {
	width: 90%;
	margin: 30px auto 30px auto;
}

.f-title {
	width: 90%;
	margin: 90px auto 0 auto;
}

#f-main {
	width: 90%;
	margin: 0 auto;
	float: none;
}

.strength {
	margin: 0 auto 10px auto;
	float: none;
}

.strength:nth-child(3n) {
	float: none;
	margin: 0 auto 90px auto;
}



#width {
	width: 90%;
}
.prosize {
	width: 90%;
	margin: 0 auto;
}
.photo-box {
	width: 90%;
	margin: 0 auto;
	float: none;
}

.pro-text {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	float: none;
}

.pro-main {
	width: 90%;
	margin: 30px auto;
}

.pro-title {
	width: 90%;
	margin: 0 auto;
}

.mytitle {
	margin-top: 20px;
}

#contact {
	width: 90%;
}

.co-main {
	width: 90%;
    margin: 30px auto 30px auto;
}
#co-under {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 90px;
}

.co-mts {
	float: none;
}

.co-mt {
	text-align: center;
}

.tell {
	margin-bottom: 20px;
}

.sns {
	margin: 0 auto;
	width: 90%;
	text-align: center;
	float: none;
}

.co-icon li{
	float: none;
}
#icon1 {
	font-size: 50px;
	margin-right: 8px;
}
#icon2 {
	font-size: 50px;
	margin-right: 0px;
}
.co-right {
	width: 136px;
	margin: 0 auto;
}

footer {
	line-height: 60px;
	height: 60px;
	position: absolute;
	margin: auto;
}